[submodule "OM-TPS"]
	path = OM-TPS
	url = https://github.com/ASK-Berkeley/OM-TPS
[submodule "boltz"]
	path = boltz
	url = https://github.com/muhammadhasyim/boltz.git
[submodule "plumed2"]
	path = plumed2
	url = https://github.com/plumed/plumed2.git
[submodule "papers/PriceofFreedom"]
	path = papers/PriceofFreedom
	url = https://github.com/atomicarchitects/PriceofFreedom.git
