[submodule "OM-TPS"]
	path = OM-TPS
	url = https://github.com/ASK-Berkeley/OM-TPS
[submodule "boltz"]
	path = boltz
	url = https://github.com/jwohlwend/boltz
[submodule "openpathsampling"]
	path = openpathsampling
	url = https://github.com/openpathsampling/openpathsampling.git
[submodule "plumed2"]
	path = plumed2
	url = https://github.com/plumed/plumed2.git
